/**
 * TACS STYLE SHEET
 */

li	{
	padding: 1px;
	list-style:square;
}

#welcomeMsg{
    padding: 30px;
    text-align: center;
    font-weight:bold;
    font-size:20px;
}

.fullname{
    font-style: italic;
}

.par	{background-color:#FFFFFF;}
.impar	{background-color:#EFEFEF;}

p.black	{font-weight:bold;}

.list{
     padding: 5px;
}

.list > img ,  .listImg{
    max-width: 90px;
    max-height: 90px;
}

.listWrapper {
    padding: 5px;
    height: 200px;
}

.listWrapper > div{
    float: left;
    max-width: 350px;
    border-color: navy;
    border-width: 1px;
    float: left;
    border-right: 1px solid navy;
    padding-right: 18px;
}

.listButtonBox {
    border: none;
    padding: 20px;
}

