/**
 * TACS STYLE SHEET
 */

li	{
	padding: 1px;
	list-style:square;
}

#welcomeMsg{
    padding: 30px;
    text-align: center;
    font-weight:bold;
    font-size:20px;
}

.fullname{
    font-style: italic;
}

.par	{background-color:#FFFFFF;}
.impar	{background-color:#EFEFEF;}

.list > img  {
    max-width: 150px;
    max-height: 150px;
}

