<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Toma-y-Daca</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<!-- <li class="active"><a href="/">${i18n("header.home")}</a></li> -->
                <li class="active"><a href="/#/search-item">Buscar Nuevo Item</a></li>
                <li class="active"><a href="/#/list-users">Usuarios Registrados</a></li>
                <li class="active"><a href="/#/my-items">Mis Items</a></li>
                <li class="active"><a href="/#/my-friends">Mis Amigos</a></li>
                <li class="active"><a href="/#/my-friends-items">Items de Amigos</a></li>
                <li class="active"><a href="/#/my-trades">Solicitudes de Trueque</a></li>
			</ul>
		</div>
		<!--/.navbar-collapse -->
	</div>
</div>