<h1>{{item.title}}</h1>

<div>
    <li >
        <img ng-src="{{item.thumbnail}}"/>
        <div>
            <div>
                <input type="checkbox" ng-model="item.wallPost">
                <span>Quiero notificar en mi muro sobre mi nueva adquisición</span>
            </div>
            <div>
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <a ng-click="saveItem(item)">Guardar Item</a>
                </button>
            </div>
        </div>
    </li>
</div>