<h1>Mis Items</h1>
<hr/>
<div>

    <li ng-repeat="item in items">
        [{{$index + 1}}] <img ng-src="{{item.thumbnail}}"/>  {{item.title}}
        <button type="button" class="btn btn-default" aria-label="Left Align">
            <a ui-sref="search-item.define-item" ng-click="saveItem(item)">Seleccionar Item</a>
        </button>
    </li>

    <pagination ng-change="pageChanged()" total-items="totalItems" items-per-page="20" ng-model="currentPage" lass="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

</div>