<h1>Usuarios Registrados en el Sistema</h1>
<hr/>
<p>
    Se listan todos los usuarios que se han registrado a la aplicación para que puedan
    ser agregados como amigos.
</p>

<li class="list {{$index % 2 == 0 ? 'impar' : 'par'}}" ng-repeat="user in users">
    <span>[{{$index + 1}}]</span>
    <span>{{user.fullname}}</span>

    <button type="button" class="btn btn-default" ng-if="(user.id != me.id) && user.canBeAdded">
        <a ui-sref="list-users" ng-click="addFriend(user)">Agregar a Amigos</a>
    </button>

    <br/>
</li>
