<li class="list" ng-repeat="friend in friends">
    <span>[{{$index + 1}}]</span>
    <span>Items de {{friend.fullname}}</span>

    <div class="list {{$index % 2 == 0 ? 'impar' : 'par'}}" ng-repeat="item in friend.items">
        <img ng-src="{{item.picture}}"/>
        <span class="description">{{item.description}}</span>
        <button type="button" class="btn btn-default" ui-sref="my-friends-items.trade-item" ng-click="tradeItem(item)">
            <a ng-click="">Solicitar Trueque</a>
        </button>
        <br/>
    </div>

    <br/>
</li>
