<h1>Usuarios Registrados en el Sistema</h1>
<hr/>
<p>
    Se listan todos los usuarios que se han registrado a la aplicación para que puedan
    ser agregados como amigos.
</p>

<li class="list {{$index % 2 == 0 ? 'impar' : 'par'}}" ng-controller="usersController" ng-repeat="user in users">
    <p>[{{$index + 1}}]</p>
    <p>{{user.fullname}}</p>
    <button type="button" class="btn btn-default" aria-label="Left Align">
        <a ui-sref="users" ng-click="addFriend(user)">Agregar a Amigos</a>
    </button>
    <br/>
</li>
