<h1>Items de Mis Amigos</h1>
<hr/>
<li class="list" ng-repeat="friend in friends">
    <a>[{{$index + 1}}]</a>
    <a>{{friend.fullname}}</a>

    <div class="list {{$index % 2 == 0 ? 'impar' : 'par'}}" ng-repeat="item in friend.items">
        <img ng-src="{{item.picture}}"/>
        <p class="description">{{item.description}}</p>
        <button type="button" class="btn btn-default" aria-label="Left Align">
            <a ng-click="">Solicitar Trueque</a>
        </button>
        <br/>
    </div>

    <br/>
</li>
