<h1>Mis Solicitudes de Trueque</h1>
<hr/>
<li class="list {{$index % 2 == 0 ? 'impar' : 'par'}}" ng-repeat="trade in trades">
    <div class="listWrapper">
        <div>
            <p>[{{$index + 1}}]</p>
        </div>
        <div>
            <p>{{trade.senderItem.owner.fullname}} te ofre este artículo:</p>
            <img ng-src="{{trade.senderItem.picture}}"/>
            <p>{{trade.senderItem.description}}</p>
        </div>
        <div>
            <p>... a cambio de este artículo tuyo:</p>
            <img ng-src="{{trade.receiverItem.picture}}"/>
            <p>{{trade.receiverItem.description}}</p>
        </div>
        <div class="listButtonBox">
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <a ui-sref="search-item.define-item" ng-click="acceptYumboTrade()">Aceptar</a>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <a ui-sref="search-item.define-item" ng-click="">Rechazar</a>
            </button>
        </div>
    </div>
</li>