<div>
    <input type="text" ng-model="searchText" ng-change="pageChanged()">
    <img src="/assets/images/lupa.gif"/>
</div>

<div>
    <li ng-repeat="item in items">
        <p>[{{$index + 1}}]</p>
        <img ng-src="{{item.thumbnail}}"/>
        <p class="title">{{item.title}}</p>
        <button type="button" class="btn btn-default" aria-label="Left Align">
            <a ui-sref="search-item.define-item" ng-click="saveItem(item)">Seleccionar Item</a>
        </button>
    </li>

    <pagination ng-change="pageChanged()" total-items="totalItems" items-per-page="50" ng-model="currentPage" lass="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

</div>