<h3>Solicitar trueque de... </h3>
<div>
    <li class="list">
        <span class="description">{{friendItem.description}}</span>
        <img ng-src="{{friendItem.picture}}"/>
        <span>... del usuario: {{friendItem.owner.fullname}} </span>
    </li>
    <span>... por alguno de mis items:</span>
    <li class="list {{$index % 2 == 0 ? 'impar' : 'par'}}" ng-repeat="item in items">
        <span>[{{$index + 1}}]</span>
        <img ng-src="{{item.picture}}"/>
        <span class="description">{{item.description}}</span>
        <button type="button" class="btn btn-default">
            <a ng-click="createTrade(friendItem, item)">Enviar Solicitud</a>
        </button>
        <br/>
    </li>
</div>